@{
    ViewBag.Title = "ProSwap.io";
}

    <div class="body-container">

        <h1>Welcome to ProSwap.io!</h1>

        <p>ProSwap is an n-tier ASP.NET project that is designed to demonstrate fullstack development.</p>

        <p>The website is fully functional, both front and backend.</p>

        <p>ProSwap is regularly receiving new additions to the project. Check back often to see what's added.</p>

    </div>