body {
    height: 100%;
    width: 100%;
}

.bg {
    background-image: url(/Content/images/bg.png);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control {
    background-color: rgba(27, 46, 55, 0.6) !important;
    border: solid 1px black
}

.text-editor{
    padding: 15px 15px 15px 15px !important;
}

p {
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input{
    color: white !important;
}
a {
    color: #C5C6C7;
}

    a:hover {
        color: #45A29E;
    }

    a:focus {
        color: #45A29E;
        text-decoration: none;
        transition: all 0.3s;
    }

.nav-link {
    color: #C5C6C7 !important;
}

    .nav-link:hover {
        color: #C5C6C7 !important;
    }

    .nav-link:active {
        color: #C5C6C7 !important;
    }

.navbar {
    background-color: rgba(27, 46, 55, 0.6) !important;
    background: #fff;
    width: 80%;
    margin-left: 10%;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
}

h1 {
    color: #5596E6;
    font-size: x-large;
}

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
    color: #C5C6C7;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(2px);
    color: #C5C6C7;
}

.navbar-nav > li > .dropdown-menu {
    filter: drop-shadow(0 0 0.75rem #0B0C10);
    background-color: rgba(27, 46, 55, 0.6) !important;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid black;
}

    .navbar-nav > li > .dropdown-menu a {
        color: #C5C6C7 !important;
    }

        .navbar-nav > li > .dropdown-menu a:hover {
            background-color: rgba(11, 12, 16, 0.5) !important;
            color: #45A29E !important;
        }

a {
    padding-left: 20px;
    padding-right: 20px;
}


.fa-home {
    color: #C5C6C7;
    padding-right: 10px;
}


.fa-chess-queen {
    color: #C5C6C7;
    padding-right: 10px !important;
}

.fa-dice-d6 {
    color: #C5C6C7;
    padding-right: 10px;
}

.fa-anchor {
    color: #C5C6C7;
    padding-right: 10px;
}

.fa-search {
    color: #C5C6C7;
    padding-right: 10px;
}

.fa-user-circle {
    color: #C5C6C7;
    padding-right: 10px;
}

.fa-user-alt {
    color: #C5C6C7;
    padding-right: 10px;
}

.fa-money-bill-wave-alt {
    color: #C5C6C7;
    padding-right: 10px;
}

.fa-charging-station {
    color: #C5C6C7;
    padding-right: 10px;
}

.fa-users-cog {
    color: #C5C6C7;
    padding-right: 10px;
}

.fa-user-shield {
    color: #C5C6C7;
    padding-right: 10px;
}

.fa-key {
    color: #C5C6C7;
    padding-right: 10px;
}

.logout {
    padding-top: 15px;
}

.navbar-brand {
    height: 50px;
}

.fa-plus-square {
    padding-right: 15px;
}


.carousel-container {
    border-top: none !important;
    margin-bottom: 50px;
    background-color: rgba(27, 46, 55, 0.8) !important;
    position: static;
    z-index: 1;
    background: #fff;
    width: 80%;
    margin-left: 10%;
    border-top: none;
    border-bottom-left-radius: 5px !important;
    border: 1px solid black !important;
}

.main-container h1 {
}

.col-md-7 {
    display: flex;
    flex-direction: column;
}

#detailsBtn {
    margin-top: auto !important;
    width: 200px !important;
    position: absolute;
    right: 0;
    bottom: 0;
    color: white !important;
    outline-color: #5596E6 !important;
    border: 1px solid #5596E6;
    background-color: #5596E6;
    margin-right: 25px;
}

/* Begin /Account/Login: */

.body-container {
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: rgba(27, 46, 55, 0.9) !important;
    position: static;
    z-index: 10;
    background: #fff;
    width: 80%;
    margin-left: 10%;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid black;
}

.login-inner-container h1 {
    padding: 15px 15px 15px 15px;
}


.news-container {
    color: white;
    background-color: rgba(27, 46, 55, 0.9) !important;
    position: static;
    z-index: 10;
    background: #fff;
    width: 80%;
    margin-left: 10%;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid black;
    border-bottom: none;
}

.alert-dark {
    border: 0;
    border-radius: 5px 5px 0px 0px;
    outline: 1px solid black;
    background-color: rgba(27, 46, 55, 0.8) !important;
}

    .alert-dark p {
        color: #C5C6C7;
        padding: 5px 5px 5px 5px;
        margin: 0;
    }


.games-container {
    background-color: rgba(27, 46, 55, 0.6) !important;
    position: static;
    z-index: 10;
    background: #fff;
    width: 80%;
    margin-left: 10%;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    color: white;
}

    .games-container td {
        color: white;
    }

    .games-container tr {
        color: white;
    }

    .games-container h1 {
        font-size: large;
    }

#gameAddButton {
    margin: 15px 15px 15px 15px;
    outline: solid 1px black;
}

table, th, td {
    color: black;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 20%;
}

td {
    height: 40px;
}

tr {
    color: black;
}


th {
}

tbody {
}

#carousel-img-1 {
    object-fit: cover !important;
}

#carousel-img-2 {
    object-fit: cover !important;
}

.container {
    width: 100% !important;
}


footer {
    background-color: rgba(27, 46, 55, 0.6) !important;
    color: white;
    position: static;
    z-index: 10;
    background: #fff;
    width: 80%;
    margin-left: 10%;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid black;
    border-bottom: none;
}

footer h1{
    padding-left: 15px; 
}

.news-container h1{
    padding-left: 15px;
    padding-top: 15px;
}

.pagination {
    padding: 10px 10px 10px 10px;
    background-color: rgba(27, 46, 55, 0.6) !important;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid black;
}

    .pagination page-item{
        background-color: rgba(27, 46, 55, 0.9) !important;
        color: black;
    }

    .pagination page-link{
        color: white;
    }

.float-container {
    display: flex;
    padding: 5px;
}

.float-child {
    flex: 1;
    width: 50%;
    float: left;
    padding: 5px;
}  