@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "ProSwap.io";
}

<hgroup>
    <h1 class="text-danger">You are Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later. If this error persists, please contact support@proswap.io</h2>
</hgroup>
